<div class="site-footer">
    
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h3 class="footer-heading mb-4">About Me</h3>
          <p>Just a learner want to write down what he has learn.</p>
        </div>
        <div class="col-6">

        </div>
        <div class="col-2">
          <div>
            <h3 class="footer-heading mb-4">Connect</h3>
            <p>
              <a href="#"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
              <a href="#"><span class="icon-twitter p-2"></span></a>
              <a href="#"><span class="icon-instagram p-2"></span></a>
              <a href="#"><span class="icon-rss p-2"></span></a>
              <a href="#"><span class="icon-envelope p-2"></span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
            <p>
            Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved
            </p>
        </div>
      </div>
    </div>
   
</div>