{% load widget_tweaks %}
<header class="site-navbar" role="banner">
    <div class="container">
      <div class="row align-items-center">
        
        <div class="col-4 site-logo">
          <a href="{% url 'home' %}" class="text-black h2 mb-0"><span class="icon-home"></span>HoaiBao</a>
        </div>

        
        <div class="col-8 text-right">
          <nav class="site-navigation" role="navigation">
            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">
              <li><a href="category.html">Politics</a></li>
              <li><a href="category.html">Tech</a></li>
              <li><a href="category.html">Entertainment</a></li>
              <li><a href="category.html">Travel</a></li>
              <li><a href="category.html">Sports</a></li>
            </ul>
          </nav>
          <a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span class="icon-menu h3"></span></a></div>
        </div>
        
    </div>
</header>
  