{% extends 'base.html' %}

{% load widget_tweaks %}

{% load static %}

{% block title %} About {% endblock %}

{% block breadcrumb %}
<div class="container">
    <ol class="breadcrumb my-4" style="background-color: white;">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item active">About</li>
    </ol>
</div>
{% endblock %}

{% block content %}
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
  <div class="container">
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="featured-text text-center text-lg-left">
          <p>Chào mọi người, COVID-19 khiến tình hình kinh tế thật khó khăn. Nên, chiếc blog này là để chia sẻ những câu chuyện bi hài nhảm nhí sâu sắc mà đầy triết lý mà mình gặp hằng ngày. </p>    
          <p>Trước hết, cùng thống nhất các tiêu chí của chiếc blog này nhé.</p>   
          <small>*Tất cả các hình đều không có xíu liên quan gì đâu.</small>
        </div> 
      </div>
      <!-- Featured Project Row-->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'img/about_2.jpg' %}" alt="" /></div>
          <div class="col-xl-4 col-lg-5">
              <div class="featured-text text-center text-lg-left">
                  <h4>Tính giải trí</h4>
                  <p class="text-black-50 mb-0">
                      Giang sơn dễ đổi, bản tính khó dời các bạn ạ. Từ cái thời chưa dậy thì tới giờ, cái giọng văn viết của mình nó cứ gọi là không lọt con mắt thế nào ấy. 
                      Cũng có thể là do lối suy nghĩ có vấn đề. Nhưng tóm lại - với bất cứ vấn đề nào - thống nhất với nhau là tiếp cận bằng cách vui vẻ nhất nhé.
                  </p>
              </div>
          </div>
      </div>
      <!-- Project One Row-->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6"><img class="img-fluid" src="{% static 'img/about_1.jpg' %}" alt="" /></div>
          <div class="col-lg-6">
              <div class="bg-black text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-left">
                          <h4 class="text-white">Tính nhảm nhí</h4>
                          <p class="mb-0 text-white-50">
                            Tại vì cái gì cũng viết, cái gì cũng đem ra nói, nên chiếc blog này chắc không có được cái tác phong nghiêm túc - chuyên nghiệp cần thiết. 
                            Nên thôi thì nhảm nhảm một chút, nhưng nội dung đa dạng chắc cũng bù trừ được hen.
                          </p>
                          <hr class="d-none d-lg-block mb-0 ml-0" />
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Project Two Row-->
      <div class="row justify-content-center no-gutters mb-4 mb-lg-5">
          <div class="col-lg-6"><img class="img-fluid" src="{% static 'img/about_3.jpg' %}" alt="" /></div>
          <div class="col-lg-6 order-lg-first">
              <div class="bg-black text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-right">
                          <h4 class="text-white">Tính sâu sắc</h4>
                          <p class="mb-0 text-white-50">
                              Trong cuộc sống, mình đánh giá rất cao những người có suy nghĩ sâu sắc.
                              Vì thường họ sẽ rất vui tươi, nhưng nếu buồn, thì những vấn đề cũng không phải là dạng lo lắng hời hợt tầm thường. Với, nếu có học gì rồi viết lại mà không nghiêm túc thì cũng đâu được phải không?
                          </p>
                          <hr class="d-none d-lg-block mb-0 mr-0" />
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row align-items-center no-gutters">
        <div class="featured-text text-center text-lg-left">
          <p>Cuộc sống này đủ mệt mỏi rồi, chỉ mong chiếc blog đem lại cho mọi người một chút thời gian giải trí vui vẻ. Thân!</p>    
        </div> 
      </div>
      
  </div>
</section>
{% endblock %}