{% load static %}<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=no">
        <meta name="google" content="notranslate">
        <meta name="description" content="Một blog sàm xí mới nổi - nơi bạn Bão chia sẻ những kinh trải nghiệm thú vị trong cuộc sống.">
        <link rel="icon" href="{% static 'img/ico.jpg' %}" sizes="48x48" type="image/jpg" media="all">

        <title>{% block title %}HoaiBao's Blog{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/home_styles.css' %}">
        <link rel="stylesheet" href="{% static 'css/head-foot-style.css' %}">
        <link rel="stylesheet" href="{% static 'css/ico-style.css' %}">

        {% block stylesheet %}{% endblock %}
        {% include 'includes/ga-tag.html' %}
    </head>

    <body id="page-top">
        {% include 'includes/navbar.html' %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Welcome</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Chào mừng đến với chiếc blog mới keng của mình. Dù bạn là ai, vẫn mong bạn có 1 ngày vui vẻ và biết thêm được những điều mới mẻ.</h2>

                    <a class="btn btn-primary" href="{% url 'blog' %}">Blogs</a>
                    <a class="btn btn-secondary" href="{% url 'about' %}">About</a>

                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-white mb-4">Build with 9.5% passion</h2>
                        <p class="text-white-50">
                            Tới một thời điểm nào đó trong đời, sáng thứ 7 không còn là mị lực của chăn nệm nữa, mà là động lực xây dựng một "cái gì đó" cho riêng mình.
                            Vậy nên chiếc blog này ra đời. Có thể nội dung nó chưa đa dạng, chưa hấp dẫn, chưa giúp ích gì cho đời, nhưng đó là một sự khởi đầu, một niềm tin vượt lên trên liên kết giường-chiếu tầm thường nha nha.
                        </p>
                    </div>
                </div>
                <!--img class="img-fluid" src="{% static 'img/ipad.png' %}" alt="" /-->
            </div>
        </section>

        {% include 'includes/footer.html' %}
        
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script> 
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/home_scripts.js' %}"></script>        
        {% block javascript %}{% endblock %}
        </div>
    </body>
  </html>