{% extends 'base_accounts.html' %}

{% block title %}
    {% if validlink %}
        Change password for {{ form.user.username }}
    {% else %}
        Reset your password
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        {% if validlink %}
        <h2>Change password for {{ form.user.username }}</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary">Change password</button>
        </form>
        {% else %}
        <h2>Reset your password</h2>
        <div class="alert alert-danger" role="alert">
            It look like you clicked on an invalid password reset link. Please try again.
        </div>
        <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Request a new password reset link</a>
        {% endif %}
    </div>
{% endblock %}